server:
  port: 8080

spring:
  application:
    name: docker-deployment

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example: DEBUG
